.wrapper{
  display: grid;
  grid-template-columns: 15% 70% 15%;
}
.card{
  margin: 5px;
  background-color: #dae5f4;
}

.card:nth-child( odd ){
  background-color: #b8d1f3;
}
.card:hover{
  transform: translateY(-4px);
  transition: 100ms;
  background-color: rgb(168, 64, 64);
}
